const Container = styled.header`
    position: fixed;
    width: 100%;
    height: 50px;
    margin: 0 0 0 0;
    padding: 10px 10px 0 15px;
    background-color: transparent 100px;
    grid-column: auto;
    z-index: 1;
    border: 0px solid #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
`;

const Nav = styled.div`
    height: 50px;
    margin: 0px 0 0 0;
    padding: 0px 10px 0 15px;
    border: 0px solid #000; 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    ${props => props.primary && css`
    padding: 0 50px;
  `}
`;

const Anchor = styled.a`
    text-decoration: none;
    font-size: 10px;
    font-weight: lighter;
    color: #84eced;
    margin-right: 20px;

    ${props => props.primary && css`
    font-style: normal;
    font-size: 20px;
    font-weight: lighter;
    margin: 60px;
    color: #84eced;
    `}
`;
